
.page-footer{
   background-color:rgb(247, 247, 247) !important;
}


.footer-copyright > a
{
  color:white !important;
}
/*for nav bar */







.input-group{
  width: 100% !important;

}


.text
{
  color: #2E4053;
  margin-top: 100px;
  margin-bottom: 5px;
  font-style: bold;
  font-size: 30px;
}



/*for button 1 i.e. apply now*/

.btn-success
{
  text-align: center;
  text-decoration: none;
  font-size: 16px;   
  border-radius: 10px;
  color: white!important;
  padding: 10px; 
  background-color: rgb(28, 197, 0);
  padding-left: 50px;
  padding-right: 50px; 
  border:none;
  box-shadow: 2px 3px  10px rgb(42, 158, 23);
}

.btn-success1
{
  text-align: center;
  text-decoration: none;
  font-size: 16px;   
  
  color: white!important;
  padding: 10px; 
  background-color: rgb(28, 197, 0);
  padding-left: 50px;
  padding-right: 50px; 
  border:none;
  box-shadow: 2px 3px  10px rgb(42, 158, 23);
}

.btn-primary
{
  text-align: center;
  text-decoration: none;
  font-size: 16px;   
  border-radius: 10px;
  border:none;
  color: white!important;
  background-color: rgb(15, 171, 238);
  padding: 10px;
  box-shadow: 2px 3px  10px rgb(21, 124, 168);
  margin-left: 20px;

 
  
}

.input-group > input
{
  padding: 25px;
}
/*------------------------*/


a{
  color:#2983af   !important;
  text-align:center ;

}
.sear
{
  margin: auto;
  float:unset !important;
}
.tocenter
{
  text-align:center;

}


a:hover{
  
text-decoration: none ;
}



.cont1{
  padding-bottom: 20px !important;
}

.conthot{
  padding-bottom: 20px !important;
}

.car1{
  background-color: #f5f5f5;
  padding:20px;
}
.car
{
  margin-bottom: 20px;
}

.car2
{
  border: solid #f5f5f5;
  padding:10px;
  
  
}
.car3 
{
   text-align:right;
   
}

/*.conthot > .car2 > img
{
  height: 20px !important;
  width: 30px !important;
}*/

.car1
{
  text-align:center;
  padding: 10px;
}
.btn-warning
{
  background-color: grey;
  color: white !important;
  border:none; 
  text-align:right!important;
}

.company
{
  font-size: 10px;
}

.biss
{
  padding: 30px;
}