.page-footer
{
   background-color:rgb(247, 247, 247) !important;
   margin-top: 15px;
}
.footer-copyright > a
{
  color:white !important;
}

.footicon
{
  padding: 2px;
}
.footicon:hover
{
  cursor:pointer;
}
.footer-copyright
{
  margin-top: 1px!important;
}
.btn-success1
{
  text-align: center;
  text-decoration: none;
  font-size: 16px;    
  color: white!important;
  padding: 10px; 
  background-color: rgb(28, 197, 0);
  padding-left: 50px;
  padding-right: 50px; 
  border:none;
  box-shadow: 2px 3px  10px rgb(42, 158, 23);
}
.page-downn
{
  background-color:rgb(218, 244, 247)!important;
  padding-top: 5px; 

}
.containerfooter>ul
{
    margin-top: 1px;
}
.containerfooter
{
    padding: 0px;
}

.footer-copyright1 > ul
{
  margin-bottom: 0px !important;
}

