.page-footer
{
   background-color:rgb(247, 247, 247) !important;
}
.footer-copyright > a
{
  color:white !important;
}

.footicon
{
  padding: 15px;
}
.footicon:hover
{
  cursor:pointer;
}
.footer-copyright
{
  margin-top: 10px;
}
.btn-success1
{
  text-align: center;
  text-decoration: none;
  font-size: 16px;    
  color: white!important;
  padding: 10px; 
  background-color: rgb(28, 197, 0);
  padding-left: 50px;
  padding-right: 50px; 
  border:none;
  box-shadow: 2px 3px  10px rgb(42, 158, 23);
}