.container3{
	background-color:#212F3C !important;
	color:white;
}

.copyr
{
	background-color: black !important;
	color:white;
}

li a i{
	padding: 3px;
}

a{
	color:white   !important;
}
.btn{
  background-color: #5DADE2;
  color:white !important;

}
.tocenter
{
	text-align:center;
}
