.more_for_employee > a{
    border: solid #1A739D;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    color:#1A739D;    
}

.more_for_employee
{
    margin-top: -30px;
    
}
.socials
{
    margin-top: 10px;
    font-size: 30px;
    color: #575757;
    padding: 20px;
    padding-bottom: 10px!important;
    margin-bottom: 10px!important;
}
.icons> a
{
    margin-left: 60px;
    color: #575757;
}
.icons> a:hover
{
    
    color: #575757;
}
/*footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}*/

.footer-copyright{
    background-color: #333333;
    color:#e3e3e3;
}
.footer-copyright p{
    margin-bottom: 0px;
    padding: 5px 0px;
}
.linkss{
margin-top: 10px;}
.linkss >h5 {
    color:white;
}
.linkss ul>li > a{
    color:#e3e3e3;
}
footer .row{
    margin: 0px;
}
.footerup
{
    background-color:#4A4A4A;
    padding-top: 20px;
}
.linkss > ul{
    list-style-type: none;
    padding-left: 5px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #1A739D;
    margin: 1em 0;
    padding: 0; 
   
}

.ac-results{
    position: absolute;
    text-align: left;
    background: #fff;
    z-index: 2;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
}
.result-wrapper{padding:10px 15px}
.result-wrapper:hover{background:#f0f0f0;}
.result-wrapper a{color:#333;}
