/*.navbar-default
{
  background-color:white !important;  
  font-weight: bold;  
}


.login
{
  text-align: center;
  border:solid #1cc500;
  color:#1cc500;
  padding:3px;
  border-radius: 10px;
  min-width:90px !important;  
}
.profile
{
  text-align: center;
  border:solid #1cc500;
  color:#1cc500;
  padding:3px;
  border-radius: 10px;
  min-width:90px !important;  
}

.signout
{
  text-align: center;
  border:solid red;
  color:red;
  padding:3px;
  min-width:90px !important; 
  border-radius: 10px;
  border-radius: 10px; 
}

.signout:hover
{
  background-color: red;
  color:white;
  padding:3px;
  min-width:90px !important;  
}

.signup
{
  text-align: center;
  border:solid #0fabee;
  color:#0fabee;
  padding:3px;
  min-width:90px !important; 
  border-radius: 10px;
}
.login:hover
{
  border:solid #1cc500;
  color:white;
  background-color: #1cc500;
  padding:3px;
  min-width:90px !important;  
}
.signup:hover
{
  border:solid #0fabee;
  color:white;
  background-color:#0fabee;
  padding:3px;
  min-width:90px !important; 
}
.navbar-left >  li a
{
  color:#2983af   !important;
  text-align:center ;
}

.navbar-left >  li a:hover
{
  text-shadow: 0.5px 0.5px 2px;
}*/

.navbar-default
{
  background-color: rgb(218, 244, 247); 
  font-weight: bold;  
  height: 30px;
  border-top: solid white;
  
}
/*.navbar-collapse
{
   background-color: rgb(218, 244, 247); 
   border: solid rgb(220, 244, 247) ;
   padding: 1px;
   margin-bottom: 
}*/


.login
{
  text-align: center;
  border:solid #1cc500;
  color:#1cc500;
  padding:3px;
  min-width:90px !important; 
  border-radius: 10px; 
   line-height: 1;
}

.signout
{
  text-align: center;
  border:solid red;
  color:red;
  padding:3px;
  min-width:90px !important; 
  border-radius: 10px; 
   line-height: 1; 
}

.signout:hover
{
  background-color: red;
  color:white;
  padding:3px;
  min-width:90px !important;  
}

.signup
{
  text-align: center;
  border:solid #0fabee;
  color:#0fabee;
  padding:3px;
  min-width:90px !important;
  border-radius: 10px; 
   line-height: 1; 
}
.login:hover
{
  border:solid #1cc500;
  color:white;
  background-color: #1cc500;
  padding:3px;
  min-width:90px !important;  
}
.signup:hover
{
  border:solid #0fabee;
  color:white;
  background-color:#0fabee;
  padding:3px;
  min-width:90px !important; 
}
.navbar-left >  li a
{
  color:#2983af   !important;
  text-align:center ;
}

.navbar-left >  li a:hover
{
  text-shadow: 0.5px 0.5px 2px;
}
body
{
  padding-top: 60px !important;

}


