

.banner
{    
  background-image: url("/static/image/banner.jpg"); 
  background-position: center center;  
  background-repeat: no-repeat;  
  background-attachment: fixed;  
  background-size: cover;  
  background-color: #464646;

}
.no-gutter
{
    margin-right: 0px;
    margin-left: 0px;
}
.topslogon
{
    font-size: 25px;
    color: white;
    margin-bottom: 25px;
}
.bottemslogon
{
    color: white;
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Philosopher', sans-serif;
    margin-bottom: 30px;
}
.form-group1
{
    text-align: center;
    margin-top: 100px;
}
.btn-group > a{
    margin-top: 10PX;
    width: 170px;
}

/* css for banner part ends here */
/*CSS for job recommendation*/
.recommendation{
    background: #c9f3c9;
}

.upload-resume h4{
    font-size: 24px;
 }

.upload-resume p{
    margin-bottom: 0px;
}
.upload-resume, .post-job{
    padding: 10px 20px;
    margin: 20px 0px;
}
.post-job >p> a{
    padding: 10px;
    /* border: solid red; */
    background-color: #36a936;
    color:white;
}

/*End css for job recommendation*/
.popular-jobs
    {
    padding: 20px 0px;
    line-height: 1.5rem;
    margin-bottom: 30px;
    margin-top: 15px;
}
.popular-jobs h3{
    margin-bottom: 0px;
}
    .text > ul>li  > a 
    {
      color:#333 !important;
    }
    .cat-job >ul {
      color:#444;
      padding-left: 0px;
      flex-wrap: wrap;
      display: flex;
    }
    .cat-job >ul > li{
      float:left;
      padding-left: 0px;
      margin-left: 20px;
      white-space: normal;
    }
    .cat-job >ul > li>a
    {     
      color:#444;
    }
    .part-icon p,h6
    {
        margin-bottom: 0px;
        font-size: 15px;    
        color: #84878a;
    }
    .icon-img{
        margin-top: 10px;
    }
    .icon-text{
        padding-left: 0px;
    }
    .part-icon  {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px;
    }

/* css for footer part */


 @media only screen and (max-width: 768px) {
   
    .company-title {
        padding-left: 33px;
    }
}

@media only screen and (max-width: 988px) {
   
    .company-title {
        padding-left: 33px;
    }
}



.more_for_employee > span{
    border: 1px solid #3a96c1;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    color:#3a96c1;    
    font-size: 20px;
}

.more_for_employee
{
    margin-top: -30px;
    
}
/*CSS Body -company*/
 .company{
    margin-top: 50px;
    margin-bottom: 50px;
}
.company-container{
   
    border-bottom: 3px solid #11b719;
    padding: 10px   !important;
    box-shadow:2px 1px 17px 3px #b7b7b78f;
}
.rounded-circle
{
    border-radius: 60px;
    /* width:50%;
    height:auto; */
}
.company-title
{
    padding-top: 20px;
}



.company-details, .list
{
    padding-left: 40px;
}
.detail-company{
        margin-top:20px;
}
.days{
    background: #c9f3c9;
    padding: 5px;
    text-align: center;
    color: #36a936;
    width: 70%;
}
.company h4, .company p {
    font-family: 'Montserrat', sans-serif;
}
.company-detail h4{
    color: #35434E;
    font-size: 22px;
    margin-bottom: 5px;
}

.company-detail p{
    color: #707c88;
    font-size: 16px;
    line-height: 1.8;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 300;
}
.list p{
    margin: 0px;
    font-weight: 600;
}
.number{
 color: #2d5bc5 !important;
}
.contact-detail p{
    font-size: 16px;
    color: #707c88;
}    
.contact-detail h4{
    color: #35434E;
    font-size: 22px;
    margin-bottom: 15px;
 }
.social-link{
    padding-left: 0px;
}
 .social-link li{
    list-style: none;
    display: inline-block;
 }
 .social-link i{
    background: #f4f4f4;
    padding: 13px 17px;
 }
 .social-link a{
    color: #212529;
 }
  .social-link a:hover{
    color: #28a745;
 }
 .button-custom button{
    width: 48%;
    padding:  10px 5px;
 }
 .btn-search-job:hover{
    background: #fff !important;
    border: 1px solid green;
    color: green;
 }
 /*search*/
#search_form{
    position:relative;
} 
