.banner
{    
  background-image: url("/static/image/banner.jpg"); 
  background-position: center center;  
  background-repeat: no-repeat;  
  background-attachment: fixed;  
  background-size: cover;  
  background-color: #464646;

}
.no-gutter
{
    margin-right: 0px;
    margin-left: 0px;
}
.topslogon
{
    font-size: 25px;
    color: white;
    margin-bottom: 25px;
}
.text
{
    white-space: normal;
    padding-left: 0px !important;
}
.bottemslogon
{
    color: white;
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    margin-bottom: 30px;
}
.form-group1
{
    text-align: center;
    margin-top: 100px;
}
.btn-group > a{
    margin-top: 10PX;
    width: 200px;
}

/* css for banner part ends here */
.innertopjobs
{
    border: solid green;
    
}
.topjobs
{
    padding: 10px;
}
.card-body
{
    padding: 20px;
}

.postjob
{
    border:solid green;
    padding: 3px;
    padding-top: 15px;
    padding-bottom: 0px!important;
    font-size: 15px;
    margin-bottom: 10px;
    width: 100%;
}
.jobalert
{
    border:solid green;
    padding: 3px;
    padding-top: 15px;
    padding-bottom: 0px!important;
    font-size: 15px;
    margin-bottom: 10px;
}
.imagees > img{
    height: 60px;
    width: 70px;
}
.box
{
    padding: 5px;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
}
.box1
{
    padding: 5px;
    border: 1px solid lightgrey;
}
.media
{
    padding-left: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_hot_jobs
{
    margin-bottom: 20px;
    border: solid green;
}
.card_top_emplyoees
{
    margin-bottom: 20px;
    border: solid green;
}
.image_for_employee>a> img
{
    height: 150px;
    width: 100%;
}
.employee
{
    padding: 10px;
}
.image_for_employee
{
    border: 1px solid lightgrey;
    background-color: whitesmoke;
}
.card1 > .card-body
{
    padding-top: 8px;
}
.hotjobss
{
    border:solid green;
    padding: 3px;
    padding-top: 15px;
    padding-bottom: 10px!important;
    font-size: 15px;
    margin-bottom: 10px;
}
.quicklinks
{
    border:solid green;
    padding: 3px;
    padding-top: 15px;
    padding-bottom: 10px!important;
    font-size: 15px;
    margin-bottom: 10px;
}
.quicklinks > ul
{
    list-style-type: none;
    padding-left: 5px;
}
.needtohide{
    display: none;
      }
.text > ul{
    list-style-type: none;
    padding-left: 0px;
}
.text{
    padding-left: 3px;
}