#jobdetail{
	background: #f5f5f5;
	padding: 30px 0px;
}
.mains{
	background: #fff;
	padding: 20px 15px;
}
.mains h2{
	color: #252621;
	text-transform: capitalize;
}
.view{
	margin-bottom: 10px;
}
.detail{
	border-bottom: 1px solid #ededed;
	margin-bottom: 10px;
}
.detail .table td, .detail .table th{
	padding: .5rem 0rem;
}
.mainsbody, .mainsfooter{
	background: #fff;
	padding: 20px 15px;
	margin-top: 10px;
}
.relatable{
	background: #fff;
}
.relatable h3{
	padding: 15px 10px 0px 10px;
	margin-bottom: 0px;
}
.relatable p{
	font-size: 0.8rem !important;
	margin-bottom: 10px;
	font-weight: 300
}
.relatable a{
	color: #253f58;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: capitalize;
}

.summ{
	border-bottom: 1px solid #dedede;
	padding: 15px 10px;
}
.mainsfooter .info h3{
	font-weight: 600;
	text-transform: capitalize;
	font-size: 1.5rem;
}