{% extends 'layout.html' %}

{% block extrascripts %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
{% block content %}
<div class="container">
  <h2>Applicants for {{job.title}}</h2>            
  <table class="table table-bordered">
    <thead>
      <tr>
      	<th>Date Applied</th>
        <th>Name</th>
        <th>Email</th>
        <th>Resume</th>
      </tr>
    </thead>
    <tbody>
 	{% for applicant in applicants%}
      <tr>
      	<td>{{applicant.date_applied|date:'Y-m-d'}}</td>
        <td>{{applicant.applicant.username}}</td>
        <td>{{applicant.applicant.email}}</td>
        <td>
		<a href="/media/{{applicant.resume}}/" download="{{applicant.resume}}" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-download-alt"></span> Download
        </a></td>   
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
        
{% endblock %}