<div class=" footer">
  <footer class="page-footer light-blue darken-3">
          
            <div class="row">
              <div class="col l4 m4 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">Since inception in 2009, we have turned out to be number one jobs provider in Nepal with 100 million+ page views with 2.5 million+ progressive visits every month, created 150,000+ success stories and registered 350,000+ job seekers in our database. We have been offering 20,000+ Read more...</p>
              </div>
              <div class="col l2 m2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>

               <div class="col l2 m2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>

               <div class="col l2 m2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>

               <div class="col l2 m2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            
          </div>
          <div class="footer-copyright light-blue darken-4">
            <div class="container">
            © <span id="dateinyear"></span> Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">InfoDev License</a>
            </div>
          </div>
        </footer>
</div>

