 <div class="col-lg-12">          
      <div class="row footerup">
        

        <div class="col-lg-3 col-md-3 col-sm-12 linkss">
            <h5 class="white-text">FOR JOBSEEKER</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Register</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Search Jobs 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 linkss">
            <h5 class="white-text">FOR EMPLOYER</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Post a Job</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Register</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Recruitment Services</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">HR Insider</a></li>
            </ul>
        </div>

         <div class="col-lg-3 col-md-3 col-sm-12 linkss">
          <h5 class="white-text">ABOUT US</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">About Job Portal</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Life at Portal</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Feedback</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 linkss">
            <h5 class="white-text">Quick contact</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!"> <i class="fa fa-crosshairs"></i> New Baneshwor, Kathmandu, Nepal</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">  <i class="fa fa-phone"></i> +977 1 4444444</a></li>
              <li><a class="grey-text text-lighten-3" href="#!"> <i class="fa fa-envelope"></i> info@yourjob.com</a></li>
            
            </ul>
          </div>     
    </div>   
    </div>

   <footer class="col-lg-12 col-md-12 footer-copyright text-right">
       <span>©  &nbsp;Copyright Text  &nbsp;
           <a href="#!">InfoDev License</a>   </span>
   </footer>