{% load auth_extras %}
<!---------------------- Session Message for different purpose ---------------------->

{% if messages %}
    <ul class="messages col-md-12">
        {% for message in messages %}
        <li {% if message.tags %}  id="message" class="bishal {{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!---------------------- End of Session Message ---------------------->

<!----------------------start of navbar html ---------------------->

 <!--nav bar starts-->
  <!--header-->
  
  <nav>
    <div class="nav-wrapper white " >
      <a href="/" class="brand-logo"><h5>LOGO</h5></a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down ">
        {% if user.is_authenticated %}
        {% if user|has_group:"company" %}
        <li><a href="/post/job/">Post job</a></li>
        {% endif %}
        
        
        <li><a href="/accounts/profile/">Profile</a></li>
        
        <li><a href="/accounts/logout/">Logout</a></li>
        {% else %}


        <li><a href="/accounts/login/">Login</a></li>
        <li><a href="/">Signup</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {% if user.is_authenticated %}
        {% if user|has_group:"company" %}
        <li><a href="/post/job/">Postjob</a></li>
        {% endif %}


   
    <li><a href="/accounts/profile/">Profile</a></li>
    <li><a href="/accounts/logout/">Logout</a></li>
    {% else %}
    <li><a href="/accounts/login/">Login</a></li> 
    <li><a href="/accounts/create/user/">signup</a></li>
    {% endif %}
    
  </ul>


   

<!--nav bar ends-->