{% load auth_extras %}
<!---------------------- Session Message for different purpose ---------------------->

{% if messages %}
    <ul class="messages col-md-12">
        {% for message in messages %}
        <li {% if message.tags %}  id="message" class="{{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!---------------------- End of Session Message ---------------------->

<!----------------------start of navbar html ---------------------->

 <!--nav bar starts-->
  <!--header-->

  <nav class="navbar navbar-expand-lg navbar-light bg-success ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">JOBLOGO</a>

    <div class="collapse navbar-collapse  " id="navbarTogglerDemo03">
      <ul class="navbar-nav text-center ml-auto">
        <li class="nav-item active">
        </li>
        {% if user.is_authenticated %}
        
        <li class="nav-item">
          <a class="nav-link " href="/accounts/profile/">PROFILE</a>
        </li>
        {% if user|has_group:"company" %}

        <li class="nav-item">
          <a class="nav-link  " href="/post/job/">
            <i class="fa fa-user"></i> POST JOB</a>
        </li>
        {% endif %}
       
        <li class="nav-item">
          <a class="nav-link loginbtn " href="/accounts/logout/">
            <i class="fa fa-user"></i> LOG OUT</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link  " href='{% url "createcompany" %}'>EMPLOYERS</a>
        </li>
         <li class="nav-item">
          <a class="nav-link  loginbtn" href="{% url 'createuser'%}"> JOIN US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link loginbtn" data-toggle="modal" data-target="#loginForm">
            <i class="fa fa-user"></i> LOGIN</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

{% if user.is_anonymous%}
  {% include 'home/login_modal.html' %}
{% endif %}
  
<!--nav bar ends-->