{% extends 'layout.html' %}
{% load static %}

{% block extrastyles %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block extracdn %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" >

{% endblock %}

{% block content %}

  <div class = "forsearch">
    <div class="row" style="padding-bottom:10px;">

      <div class="col-md-2"></div>
            <div class="col-sm-12 col-lg-8 col-md-8">
              <div class="text"><strong>FIND JOB</strong></div>
              <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for a job here">
              </div><!-- /input-group -->
    
            </div>  
            <div class="col-md-2"></div>
     </div>


  <div class = "col-sm-12 col-md-12 col-lg-12 searchh ">
    
      <a class="btn btn-success" type="submit" name="submit">SEARCH</a>
      &nbsp;&nbsp;
      <a class="btn btn-primary"  type="submit"> UPLOAD RESUME</a>     
    
  </div>

</div>


<div class="container">
<hr>
</div>

<div class="container">
  <h3>Hot Jobs</h3>
  
  <div class="row">
  {% for job in jobs%}
    <div class="col-lg-3  col-md-3 col-sm-12 car">
      <div class="car1">
      <img src="/static/image/lll.png">        
      <a href="/job/{{job.slug}}/">
      <h6>{{job.title}}</h6>
      </a>
      <span class="numm">{{job.no_opening}}</span>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
 
<div class="container">
  <h3>Browse by Categories</h3>

  <div class="row">
    <div class="row">
      {% for field in fields%}
    <div class="col-lg-3  col-md-3 col-sm-12 car">
      <div class="car1">
      <img src="/static/image/lll.png">        
      <a href="job/field/{{field.id}}"><h6>{{field.name}}</h6></a>
       <span class="numm">2</span>
    </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}

{% block extrascripts %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script>
       $(document).ready(function() {
           $('#result-table').DataTable();
       } );
    </script>

{% endblock %}