{% extends 'layout.html' %}
{% load static %}

{% block extrastyles %}
 
      <link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}
  <div class="row backs">
 
      <div class="row">
        <div class="col s2 l2 m2">
        </div>
        <div class=" col s8 m8 l8">
          
          <div class="center-align slogen ">
            <span  class="text">  Find the right job,</span><span class="text2"> Right now</span>
          </div>
          <input class="searchjob z-depth-3" id="Search" type="Search" placeholder="  Search for your suitable job">
          <div class="center-align searchbuttons">
        <a class="waves-effect waves-light btn green buttonforsearch" ><i class="material-icons left">search</i>Search</a>
          <a class="waves-effect waves-light btn blue buttonforsearch" ><i class="material-icons left">attachment</i>Upload Resume</a>
        </div>
        
        </div>
        <div class="col s2 l2 m2">
        </div> 

      </div>
    <center>
         <span class="postingtext"><strong><center>Posting a job?</center></strong></span> we can help you find a better candidates too. &nbsp; <a class="btn-floating btn-small red "><i class="material-icons">add</i></a> 
  </div>




<div class="row">
  <div class=" col l12 m12 s12 #e0e0e0 grey lighten-2 featuredjob">
    <h5>Featured jobs</h5>

    {% for job in hot_jobs %}
    <div class="col l4 m4 s12">
     <ul class="collection  with-header z-depth-3">
      <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title"><a href="/job/{{job.slug}}/">{{job.title}}</a></span>
      <p>{{job.company.user.username}}<br>

      </p>
     
      </li>
     </ul>
    </div>
    {% endfor %}
 </div>
</div>

<div class="row">
  <div class=" col l12 m12 s12 #e0e0e0 grey lighten-2 hotjob">
    <h5>Hot jobs</h5>

    {% for job in hot_jobs %}
    <div class="col l4 m4 s12">
     <ul class="collection  with-header z-depth-3">
      <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title"><a href="/job/{{job.slug}}/">{{job.title}}</a></span>
      <p>{{job.company.user.username}}<br>

      </p>
      
      </li>
     </ul>
    </div>
    {% endfor %}
 </div>
</div>

<div class="row backgroundimgs">  
  <div class="col s12 l12 m12">

      <div class="col s12 l12 m12">
        <h5>Job category</h5> 
      </div>

    {% for field in fields %}
    <div class="col s12 l3 m3">        
        <div class="card z-depth-2">
              <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator float:center" src='static/image/php.png' " >
              </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">   
                      <a href="/job/field/{{field.id}}">
                        {{field.name}}
                      </a>
                      
                    </span>      
                  </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
    
{% endblock %}

