
   
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>No of opening</th>
        <th>Edit</th>
        <th>View Applicants</th>    
      </tr>
    </thead>

    <tbody>
      {% for job in job_and_applicants %}
      <tr>
        <td>{{job.0.created_at|date:'Y-m-d'}}</td>
        <td>{{job.0.title}}</td>
        <td>{{job.0.no_opening}}</td>
        <td><a href="/job/edit/{{job.0.slug}}">
          <i class="fas fa-edit"></i>
        </a></td>
        <td><a href="/job/applicants/{{job.0.slug}}" > View </a> ({{job.1}})</td>

      </tr>
      {% endfor%}
     
    </tbody>
  </table>