{% extends 'layout.html' %}
{% load auth_extras %}

{% load static %}
{% block styles %}

<link rel="stylesheet" type="text/css" href="/static/css/profilebuilder.css">
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/thurgoimages/hire/css/bootstrap-datepicker3.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/select2.min.css">

{% endblock %}

{% block content %}

	

<section id="tab-function">
	<div class="container">
		<div class="row">
			<div class="col-md-12 tab-body">
				<div class="progress">
					<div class="progress-bar bg-success" id="progress-bar" role="progressbar"></div>
				</div>
				<nav class="nav-justified text-center">
					<div class="nav nav-tabs " id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1" aria-selected="true"><i class="fa fa-address-card-o" aria-hidden="true"></i> Personal Info</a>
						<a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2" aria-selected="false" aria-hidden="true"> <i class="fa fa-building-o"></i> Work Experience</a>
						<a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</a>
						<a class="nav-item nav-link" id="pop4-tab" data-toggle="tab" href="#pop4" role="tab" aria-controls="pop4" aria-selected="false"><i class="fa fa-trophy" aria-hidden="true"></i> Skills</a>
						<a class="nav-item nav-link" id="pop5-tab" data-toggle="tab" href="#pop5" role="tab" aria-controls="pop5" aria-selected="false"><i class="fa fa-university" aria-hidden="true"></i> Trainings</a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
						<div class="col-lg-8 personal-info">
							<h4 class="text-center title"><span class="underline">Basic Detail</span></h4>
							<form>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="name" class="col-form-label">Full Name<span>*</span></label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" name="name" placeholder="John Doe">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="gender" class="col-form-label">Gender<span>*</span></label>
									</div>
									<div class="col-md-3">
										<select class="custom-select">
											<option selected disabled>-----</option>
											<option value="male">Male</option>
											<option value="female">Female</option>
											<option value="other">Other</option>
										</select>
									</div>
									<div class="col-md-3 input-daterange text-right" id="datepicker">
										<label for="dob" class="col-form-label">Date of Birth <span> *</span></label>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control" name="dob" placeholder="" style="text-align: left;border-top-left-radius: 5px;border-bottom-left-radius: 5px;">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="religion" class="col-form-label">Religion</label>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control" name="religion" placeholder="religion">
									</div>
									<div class="col-md-3 text-right">
										<label for="martial_status" class="col-form-label">Marital Status<span>*</span></label>
									</div>
									<div class="col-md-3">									
										<select class="custom-select">
											<option selected disabled>-----</option>
											<option value="married">Married</option>
											<option value="unmarried">Unmarried</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="current_address" class="col-form-label">Current Address<span>*</span></label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" name="current_address" placeholder="Current Address">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="permanent_address" class="col-form-label">Permanent Address<span>*</span></label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" name="permanent_address" placeholder="Permanent Address">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="contact" class="col-form-label">Contact<span>*</span></label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" name="contact" placeholder="998479784947">
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 btn-group">
										<button class="btn btn-success">Save</button>
										<button class="btn btn-outline-default">Cancel</button>
									</div>
								</div>
							</form>
						</div>						
					</div>
					<div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
						<div class="col-lg-8 work-info">
							<h4 class="text-center title"><span class="underline">work experience</span></h4>
							<form>
								<div class="form-group row">
									<div class="col-md-4">
										<label for="organization_name" class="col-form-label">Organization Name<span>*</span></label>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control" name="organization_name" placeholder="Name of Company">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label for="organization_nature" class="col-form-label">Nature of Organization<span>*</span></label>
									</div>
									<div class="col-md-8">
										<select class="custom-select">
											<option selected disabled>-----</option>
											<option value="1">Advertising Agency</option>
											<option value="2">Airlines / GSA</option>
											<option value="3">Architecture / Interior Design Firm</option>
											<option value="4">Banks</option>
											<option value="5">Construction / Real Estate</option>
											<option value="6">Automotive Sales, Support &amp; Service</option>
											<option value="7">Education - School &amp; Colleges</option>
											<option value="8">Airlines / GSA</option>
											<option value="9">Embassies /  Foreign Consulate</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label for="location" class="col-form-label">Location</label>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control" name="location" placeholder="Organization Address">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label for="job_title" class="col-form-label">Job Title<span>*</span></label>
									</div>
									<div class="col-md-8">
										<input type="text" class="form-control" name="job_title" placeholder="Your job post">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label for="job_category" class="col-form-label">Job Category<span>*</span></label>
									</div>
									<div class="col-md-8">
										<select class="custom-select">
											<option selected disabled>-----</option>
											<option value="1">Advertising Agency</option>
											<option value="2">Airlines / GSA</option>
											<option value="3">Architecture / Interior Design Firm</option>
											<option value="4">Banks</option>
											<option value="5">Construction / Real Estate</option>
											<option value="6">Automotive Sales, Support &amp; Service</option>
											<option value="7">Education - School &amp; Colleges</option>
											<option value="8">Airlines / GSA</option>
											<option value="9">Embassies /  Foreign Consulate</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label for="level" class="col-form-label">Job Level<span>*</span></label>
									</div>
									<div class="col-md-8">
										<select class="custom-select">
											<option selected disabled>-----</option>
											<option value="top_level">Top Level</option>
											<option value="senior_level">Senior Level</option>
											<option value="mid_level">Mid Level</option>
											<option value="entry_level">Entry Level</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
									</div>
									<div class="col-md-8">
										<div class="custom-control custom-checkbox" id="checkedId">
											<input type="checkbox" class="custom-control-input" id="customCheck1">
											<label class="custom-control-label" for="customCheck1">Currently Working Here?</label>
										</div>
									</div>	
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label for="start_date" class="col-form-label">Start Date<span>*</span></label>
									</div>
									<div class="col-md-3">
										<select class="custom-select">
											<option selected disabled>Year</option>
											<option value="1">2018</option>
											<option value="2">2017</option>
											<option value="3">2016</option>
											<option value="4">2015</option>
										</select>
									</div>
									<div class="col-md-4">
										<select class="custom-select">
											<option selected disabled>Month</option>
											<option value="1">January</option>
											<option value="2">February</option>
											<option value="3">March</option>
											<option value="4">April</option>
											<option value="5">May</option>
											<option value="6">June</option>
											<option value="7">July</option>
											<option value="8">August</option>
											<option value="9">September</option>
											<option value="10">October</option>
											<option value="11">November</option>
											<option value="12">December</option>
										</select>
									</div>	
								</div>
								<div class="form-group row" id="viewEndDate">
									<div class="col-md-4">
										<label for="end_date" class="col-form-label">End Date<span>*</span></label>
									</div>
									<div class="col-md-3">
										<select class="custom-select">
											<option selected disabled>Year</option>
											<option value="1">2018</option>
											<option value="2">2017</option>
											<option value="3">2016</option>
											<option value="4">2015</option>
										</select>
									</div>
									<div class="col-md-4">
										<select class="custom-select">
											<option selected disabled>Month</option>
											<option value="1">January</option>
											<option value="2">February</option>
											<option value="3">March</option>
											<option value="4">April</option>
											<option value="5">May</option>
											<option value="6">June</option>
											<option value="7">July</option>
											<option value="8">August</option>
											<option value="9">September</option>
											<option value="10">October</option>
											<option value="11">November</option>
											<option value="12">December</option>
										</select>
									</div>	
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label for="level" class="col-form-label">Duties &amp; Responsibilities<span>*</span></label>
									</div>
									<div class="col-md-8">
										<textarea class="form-control" rows="3"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 btn-group">
										<button class="btn btn-success">Save</button>
										<button class="btn btn-outline-default">Cancel</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
						<div class="col-lg-8 education-info">
							<h4 class="text-center title"><span class="underline">Education</span></h4>
							<form>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="Degree" class="col-form-label">Degree<span>*</span></label>
									</div>
									<div class="col-md-9">
										<select class="custom-select">
											<option selected disabled>-----</option>
											<option value="1">Ph. D.</option>
											<option value="2">Master</option>
											<option value="3">Bachelor</option>
											<option value="4">+2 / Diploma</option>
											<option value="5">SEE</option>
											<option value="6">Others</option>
										</select>
									</div>									
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="education_program" class="col-form-label">Education Program<span>*</span></label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" name="education_program" placeholder="Education Program">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="education_board" class="col-form-label">Education Board<span>*</span></label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" name="education_program" placeholder="Education Board">
									</div>									
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="name_of_institute" class="col-form-label">Institute Name<span>*</span></label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" name="name_of_institute" placeholder="Institute you Study">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="marks_secured" class="col-form-label">Marks Secured In<span>*</span></label>
									</div>
									<div class="col-md-3">
										<select class="custom-select">
											<option selected disabled>-----</option>
											<option value="1">Percentage</option>
											<option value="2">CGPa</option>
										</select>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control" name="marks" placeholder="">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="year" class="col-form-label">Graduation Year<span>*</span></label>
									</div>
									<div class="col-md-4">
										<input type="text" class="form-control" name="year" placeholder="">
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 btn-group">
										<button class="btn btn-success">Save</button>
										<button class="btn btn-outline-default">Cancel</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane fade" id="pop4" role="tabpanel" aria-labelledby="pop4-tab">
						<div class="col-lg-8 skill-info">
							<h4 class="text-center title"><span class="underline">Skills</span></h4>
							<form>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="skill" class="col-form-label">Select Your Skills<span>*</span></label>
									</div>
									<div class="col-md-9">
										<select class="custom-select select2" multiple="multiple" data-placeholder="Select skills"
										style="width: 100%;">
											<option value="1">Photoshop</option>
											<option value="2">Django</option>
											<option value="3">Python</option>
											<option value="4">Java</option>
											<option value="5">Oracle</option>
											<option value="6">UI / UX</option>
										</select>
									</div>									
								</div>
								<div class="row">
									<div class="col-md-3 btn-group">
										<button class="btn btn-success">Save</button>
										<button class="btn btn-outline-default">Cancel</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane fade" id="pop5" role="tabpanel" aria-labelledby="pop5-tab">
						<div class="col-lg-8 training-info">
							<h4 class="text-center title"><span class="underline">Training</span></h4>
							<form> 
								<div class="form-group row">
									<div class="col-md-3">
										<label for="training_name" class="col-form-label">Training Name<span>*</span></label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" name="training_name" placeholder="Training Name">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="institution_name" class="col-form-label">Institution Name<span>*</span></label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control" name="institution_name" placeholder="Institution you Study">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="duration" class="col-form-label">Duration<span>*</span></label>
									</div>
									<div class="col-md-3">
										<input type="number" class="form-control" name="number" placeholder="">
									</div>
									<div class="col-md-4">
										<select class="custom-select">
											<option selected disabled>-----</option>
											<option value="1">Day</option>
											<option value="2">Week</option>
											<option value="3">Month</option>
											<option value="4">Year</option>
										</select>
									</div>									
								</div>
								<div class="form-group row">
									<div class="col-md-3">
										<label for="completion" class="col-form-label">Completion Year<span>*</span></label>
									</div>
									<div class="col-md-3">
										<select class="custom-select">
											<option selected disabled>Year</option>
											<option value="1">2018</option>
											<option value="2">2017</option>
											<option value="3">2016</option>
											<option value="4">2015</option>
										</select>
									</div>
									<div class="col-md-4">
										<select class="custom-select">
											<option selected disabled>Month</option>
											<option value="1">January</option>
											<option value="2">February</option>
											<option value="3">March</option>
											<option value="4">April</option>
											<option value="5">May</option>
											<option value="6">June</option>
											<option value="7">July</option>
											<option value="8">August</option>
											<option value="9">September</option>
											<option value="10">October</option>
											<option value="11">November</option>
											<option value="12">December</option>
										</select>
									</div>	
								</div>
								<div class="row">
									<div class="col-md-3 btn-group">
										<button class="btn btn-success">Save</button>
										<button class="btn btn-outline-default">Cancel</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}

{% block extra_scripts %}

<!-- jquery cdn script-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>		
<!-- bootstrap cdn script -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- extra script -->
<script type="text/javascript" src="https://s3.amazonaws.com/thurgoimages/hire/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="js/select2.full.min.js"></script>
<script type="text/javascript">
	$('.input-daterange').datepicker({
    autoclose: true
});	
</script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
    });
</script>
<script type="text/javascript">
	$("#progress-bar").css('width','20%');

	$('#pop1-tab').click(function(event){
		 event.preventDefault();
	   $("#progress-bar").css('width','20%');
	})

	$('#pop2-tab').click(function(event){
		 event.preventDefault();
	   $("#progress-bar").css('width','40%');
	})

	$('#pop3-tab').click(function(event){
		 event.preventDefault();
	   $("#progress-bar").css('width','60%');
	})
	$('#pop4-tab').click(function(event){
		 event.preventDefault();
	   $("#progress-bar").css('width','80%');
	})
	$('#pop5-tab').click(function(event){
		 event.preventDefault();
	   $("#progress-bar").css('width','100%');
	})
</script>
<script type="text/javascript">
	$(document).ready(function() {
    $('#checkedId').change(function() {
        $('#viewEndDate').toggle();
    });
});
</script>
{% endblock %}
   
