{% extends 'layout.html' %}
{% load auth_extras %}

{% load static %}
{% block extrastyles %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/static/css/profileview.css">
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/thurgoimages/hire/css/bootstrap-datepicker3.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/select2.min.css">

{% endblock %}

{% block content %}

<section id="left-sidebar">
	<div class="container">
		<div class="row left-content">
			<div class="col-md-4">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<a class="nav-link list-group-item active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true"><i class="fa fa-address-book" aria-hidden="true"></i>&nbsp; Profile</a>
				<a class="nav-link list-group-item" id="v-pills-jobs-applied-tab" data-toggle="pill" href="#v-pills-jobs-applied" role="tab" aria-controls="v-pills-jobs-applied" aria-selected="false"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp; Jobs Applied</a>
				<a class="nav-link list-group-item" id="v-pills-resetp-tab" data-toggle="pill" href="#v-pills-resetp" role="tab" aria-controls="v-pills-resetp" aria-selected="false"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp; Reset Password</a>
				<a class="nav-link list-group-item" id="v-pills-cemail-tab" data-toggle="pill" href="#v-pills-cemail" role="tab" aria-controls="v-pills-cemail" aria-selected="false"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Change Email</a>
				<a class="nav-link list-group-item" id="v-pills-sociala-tab" data-toggle="pill" href="#v-pills-sociala" role="tab" aria-controls="v-pills-sociala" aria-selected="false"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;Social Account</a>
				<a class="nav-link list-group-item" id="v-pills-dacc-tab" data-toggle="pill" href="#v-pills-dacc" role="tab" aria-controls="v-pills-dacc" aria-selected="false"><i class="fa fa-user-times" aria-hidden="true"></i>&nbsp;Deactivate Account</a>
				</div>
			</div>
			<div class="col-md-8">
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
						<nav class="nav-justified text-center content-nav">
							<div class="nav nav-tabs " id="nav-tab" role="tablist">
								<a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1" aria-selected="true"><i class="fa fa-address-card-o" aria-hidden="true"></i> Personal Info</a>
								<a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2" aria-selected="false" aria-hidden="true"> <i class="fa fa-building-o"></i> Work Experience</a>
								<a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</a>
								<a class="nav-item nav-link" id="pop4-tab" data-toggle="tab" href="#pop4" role="tab" aria-controls="pop4" aria-selected="false"><i class="fa fa-trophy" aria-hidden="true"></i> Skills</a>
								<a class="nav-item nav-link" id="pop5-tab" data-toggle="tab" href="#pop5" role="tab" aria-controls="pop5" aria-selected="false"><i class="fa fa-university" aria-hidden="true"></i> Trainings</a>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
								<div class="personal-info">
									<div class="row" style="margin-bottom: .3rem;">
										<div class="col-md-12">
											<h6 style="color: #28a745;">Profile Status</h6>
											<div class="progress">
												<div class="progress-bar bg-info" role="progressbar" style="width: {{profile.profile_status}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{profile.profile_status}}%</div>
											</div>
										</div>
									</div>							
									<div class="table-responsive">
										<table class="table table-striped table-hover">
											<tbody>
												<tr>
													<th scope="row" width="25%">Full Name</th>
													<td>: &nbsp; {{ profile.full_name}}</td>
												</tr>
												<tr>
													<th scope="row" width="25%">Gender</th>
													<td>: &nbsp; {{ profile.get_gender_display }}</td>
												</tr>
												<tr>
													<th scope="row" width="25%">Date of Birth</th>
													<td>: &nbsp; {{ profile.dob }}</td>
												</tr>												
												<tr>
													<th scope="row" width="25%">Mailing Address</th>
													<td>: &nbsp; {{profile.mailing_address}}</td>
												</tr>
												<tr>
													<th scope="row" width="25%">City</th>
													<td>: &nbsp; {{profile.city }}</td>
												</tr>
												<tr>
													<th scope="row" width="25%">State</th>
													<td>: &nbsp; {{profile.state }}</td>
												</tr>
												<tr>
													<th scope="row" width="25%">Zip</th>
													<td>: &nbsp; {{profile.zip_code }}</td>
												</tr>
												<tr>
													<th scope="row" width="25%">Contact</th>
													<td>: &nbsp; {{profile.contact }}</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="row">
										<div class="col-md-3 btn-group">
											<button class="btn btn-outline-success custom-btn" data-toggle="modal" data-target="#editProfileCenter">Edit</button>
											<!-- Modal -->
											<div class="modal fade" id="editProfileCenter" tabindex="-1" role="dialog" aria-labelledby="editProfileCenterTitle" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="editProfileCenterTitle">Personal Info</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
															<form class="profile1" method="POST" action="">
														<div class="modal-body">
																{% csrf_token %}
																<div class="form-row">
																    <div class="form-group col-md-4">
																      <label for="fname">First Name <span>*</span></label>
																      <input type="text" name="first_name" class="form-control form-control-sm" id="fname" placeholder="" required autocomplete="off" value="{{ profile.first_name }}">
																    </div>
																    <div class="form-group col-md-4">
																      <label for="mname">Middle Name</label>
																      <input type="text" name="middle_name" class="form-control form-control-sm" id="mname" placeholder="Middle Name" autocomplete="off" value="{{ profile.middle_name }}">
																    </div>
																    <div class="form-group col-md-4">
																      <label for="lname">Last Name <span>*</span></label>
																      <input type="text" name="last_name" class="form-control form-control-sm" id="lname" placeholder="" required autocomplete="off" value="{{ profile.last_name }}">
																    </div>
																</div>
																<div class="form-row">
																    <div class="form-group col-md-6">
																      <label for="gender">Gender</label>
																      <select id="gender" name=" gender" class="form-control form-control-sm">
																       <!--  <option selected value="{{ profile.gender }}">{{ profile.get_gender }}</option> -->
																        <option selected disabled>Choose...</option>
																        <option value="1">Male</option>
																        <option value="2">Female</option>
																        <option value="3">Others</option>
																      </select>
																    </div>
																    <div class="form-group col-md-6">
																      <label for="dob">Date of Birth<span>*</span></label>
																      <input type="text" name="dob" class="form-control form-control-sm datepicker_dob" id="dob" placeholder="" required autocomplete="off" value="{{ profile.dob }}">
																    </div>
																  </div>
																<!--<div class="form-group row">
																	<div class="col-md-4">
																		<label for="gender" class="col-form-label">Gender<span>*</span></label>
																	</div>
																	<div class="col-md-5">
																		<select class="custom-select" name="gender">
																			<option selected value="{{ profile.gender }}">{{ profile.get_gender }}</option>
																			<option value="1">Male</option>
																			<option value="2">Female</option>
																			<option value="3">Prefer not to Say</option>
																		</select>
																	</div>
																</div>
																 <div class="form-group row">
																	<div class="col-md-4 input-daterange" id="datepicker">
																		<label for="dob" class="col-form-label">Date of Birth <span> *</span></label>
																	</div>
																	<div class="col-md-5">
																		<input type="text" class="datepicker form-control" name="dob" placeholder="" value="{{ profile.dob }}">
																	</div>
																</div> -->
																<div class="form-group">
																    <label for="mailaddress">Mailing Address<span>*</span></label>
																    <input type="text" name="mailing_address" class="form-control form-control-sm" id="mailaddress" placeholder="" required autocomplete="off" value="{{ profile.mailing_address }}">
																</div>
																<div class="form-row">
																    <div class="form-group col-md-6">
																      <label for="inputCity">City<span>*</span></label>
																      <input type="text" name="city" class="form-control form-control-sm" id="inputCity" required autocomplete="off" value="{{ profile.city }}">
																    </div>
																    <div class="form-group col-md-4">
																      <label for="inputState">State<span>*</span></label>
																      <input type="text" name="state" class="form-control form-control-sm" id="inputState" required autocomplete="off" value="{{ profile.state }}">
																    </div>
																    <div class="form-group col-md-2">
																      <label for="inputZip">Zip<span>*</span></label>
																      <input type="text" name="zip_code" class="form-control form-control-sm" id="inputZip" required autocomplete="off" value="{{ profile.zip_code }}">
																    </div>
																</div>
																<div class="form-row">
																	<div class="form-group col-md-6">
																      <label for="contacnt">Contact <span>*</span></label>
																      <input type="text" name="contact" class="form-control form-control-sm" id="contact"  required autocomplete="off" value="{{ profile.contact }}">
																    </div>	
															    </div>														
														</div>
														<div class="modal-footer">
															<button class=" btn btn-success">Save</button>
															<button class="btn btn-outline-default" data-dismiss="modal">Cancel</button>
														</div>
													</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>						
							</div>
							<div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
								<div class="work-info">	
									{% if profile.work_experience %}
									{% for work in profile.work_experience.all %}
									<div class="detail">
										<div class="pull-right">
											<a href="#" class="btn-edit" data-toggle="modal" data-target="#editWorkCenter"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit</a>
											<!-- Edit Modal -->
											<div class="modal fade" id="editWorkCenter" tabindex="-1" role="dialog" aria-labelledby="editWorkCenterTitle" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="editWorkCenterTitle">Edit Work Info</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
															<form class="profile2" method="POST" action="">
														<div class="modal-body">
																{% csrf_token %}
																<!-- <div class="form-group row">
																	<div class="col-md-5">
																		<label for="organization_name" class="col-form-label">Organization Name<span>*</span></label>
																	</div>
																	<div class="col-md-7">
																		<input type="text" class="form-control" name="organization" placeholder="" value="{{ work.organization }}"> 
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-md-5">
																		<label for="location" class="col-form-label">Location</label>
																	</div>
																	<div class="col-md-7">
																		<input type="text" class="form-control" name="location" placeholder="" value="{{work.location}}">
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-md-5">
																		<label for="job_title" class="col-form-label">Job Title<span>*</span></label>
																	</div>
																	<div class="col-md-7">
																		<input type="text" class="form-control" name="job_title" placeholder="" value="{{work.job_title}}">
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-md-5">
																		<label for="level" class="col-form-label">Job Level<span>*</span></label>
																	</div>
																	<div class="col-md-7">
																		<select class="custom-select" name='job_level' required>
																			<option selected value="{{ work.job_level }}">{{ work.job_level }}</option> -->
																			<!-- <option value="top_level">Top Level</option>
																			<option value="senior_level">Senior Level</option>
																			<option value="mid_level">Mid Level</option>
																			<option value="entry_level">Entry Level</option> -->
																	<!-- 	</select>
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-md-5">
																		<label for="level" class="col-form-label">Duties &amp; Responsibilities<span>*</span></label>
																	</div>
																	<div class="col-md-7">
																		<textarea class="form-control" rows="3" name="responsibilities" value="{{work.responsibilities }}">{{work.responsibilities }}</textarea>
																	</div>
																</div> -->
															<div class="form-group ">
															    <label for="job_title">Job Title <span>*</span></label>
															    <input type="text" class="form-control form-control-sm" name="job_title" id="job_title" placeholder="" required value="{{ work.job_title }}">
															</div> 
															<div class="form-row">
																<div class="form-group col-md-6">
																    <label for="company_name">Company Name<span>*</span></label>
																    <input type="text" class="form-control form-control-sm" placeholder="" required name="company_name" id="company_name" value="{{ work.organization }}">
																</div>
																<div class="form-group col-md-6">
																    <label for="location">Location</label>
																    <input type="text" class="form-control form-control-sm" placeholder="" name="location" id="location" value="{{ work.location }}">
																</div>
															</div>
															<div class="form-group">
															  <div class="custom-control custom-checkbox checkedId">
																	<input type="checkbox" class="custom-control-input" id="custom_check" name="custom_check">
																	<label class="custom-control-label" for="custom_check">Currently Working Here?</label>
																</div>
															</div>
															<div class="form-row">
															    <div class="form-group col-md-6">
															      <label for="s_date">Start Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm s_date" id="s_date" placeholder="July, 2015" required name="s_date" value="{{ work.from_date }}">
															    </div>
															    <div class="form-group col-md-6 viewEndDate">
															      <label for="e_date">End Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm e_date" id="e_date" placeholder="June, 2016" required name="e_date" value="{{ work.to_date }}">
															    </div>
															</div>
															<div class="form-group">
															    <label for="desc">Description &amp; Responsibilities</label>
															    <textarea rows="2" class="form-control form-control-sm" id="desc" name="desc" value="{{work.responsibilities }}">{{work.responsibilities }}</textarea>
															</div>
															<div class="form-group">
															      <label for="env">Environment</label>
															      <input type="text" class="form-control form-control-sm" id="env" name="env">
															      <small id="envHelp" class="form-text text-muted">Skills that were learned on that work</small>
															</div>
														</div>
														<div class="modal-footer">
															<button class=" btn btn-success">Save</button>
															<button class="btn btn-outline-default" data-dismiss="modal">Cancel</button>
														</div>
													</form>
													</div>
												</div>
											</div>
											&nbsp;|
											<a href="/accounts/profile/experience/delete/{{work.id}}/" class="btn-delete"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete</a>
										</div>
										<p><span class="job-title">{{work.job_title}}</span>&nbsp;<span>({{ work.job_level }})</span> </p>
										<p>{{ work.organization }}</p>
										<p>{{work.location}}</p>
										<p>Duties & Responsibilities : <br>
											{{ work.responsibilities }}
										</p>
										<hr class="profile-line">
									</div>									
									{% endfor %}
									{% endif %}	
									<div class="row">
										<div class="col-md-3 btn-group">
											<button class="btn btn-outline-success custom-btn"  data-toggle="modal" data-target="#addWorkCenter">Add</button>
											<!-- Modal -->
											<div class="modal fade" id="addWorkCenter" tabindex="-1" role="dialog" aria-labelledby="addWorkCenterTitle" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="addWorkCenterTitle">Work Info</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
															<form class="profile2" method="POST" action="">
														<div class="modal-body">
																{% csrf_token %}
																<div class="form-group ">
															    <label for="job_title">Job Title <span>*</span></label>
															    <input type="text" class="form-control form-control-sm" name="job_title" id="job_title" placeholder="" required>
															</div> 
															<div class="form-row">
																<div class="form-group col-md-6">
																    <label for="company_name">Company Name<span>*</span></label>
																    <input type="text" class="form-control form-control-sm" placeholder="" required name="company_name" id="company_name">
																</div>
																<div class="form-group col-md-6">
																    <label for="location">Location</label>
																    <input type="text" class="form-control form-control-sm" placeholder="" name="location" id="location">
																</div>
															</div>
															<div class="form-group">
															  <div class="custom-control custom-checkbox checkedId">
																	<input type="checkbox" class="custom-control-input" id="custom_checkbox" name="custom_checkbox">
																	<label class="custom-control-label" for="custom_checkbox">Currently Working Here?</label>
																</div>
															</div>
															<div class="form-row">
															    <div class="form-group col-md-6">
															      <label for="s_date">Start Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm s_date" id="s_date" placeholder="July, 2015" required name="s_date">
															    </div>
															    <div class="form-group col-md-6 viewEndDate">
															      <label for="e_date">End Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm e_date" id="e_date" placeholder="June, 2016" required name="e_date">
															    </div>
															</div>
															<div class="form-group">
															    <label for="desc">Description &amp; Responsibilities</label>
															    <textarea rows="2" class="form-control form-control-sm" id="desc" name="desc"></textarea>
															</div>
															<div class="form-group">
															      <label for="env">Environment</label>
															      <input type="text" class="form-control form-control-sm" id="env" name="env">
															      <small id="envHelp" class="form-text text-muted">Skills that were learned on that work</small>
															</div>
														</div>
														<div class="modal-footer">
															<button class=" btn btn-success">Save</button>
															<button class="btn btn-outline-default" data-dismiss="modal">Cancel</button>
														</div>
															</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
								<div class="education-info">
									{% if profile.education %}
									{% for edu in profile.education.all %}
									<div class="detail">
										<div class="pull-right">
											<a href="#" class="btn-edit" data-toggle="modal" data-target="#editEducationCenter"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit</a>
											<!-- Modal -->
											<div class="modal fade" id="editEducationCenter" tabindex="-1" role="dialog" aria-labelledby="editEducationCenterTitle" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="editEducationCenterTitle">Edit Education Info</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
															<form class="profile3" method="POST" action="">
														<div class="modal-body">
																{% csrf_token %}
																<!-- <div class="form-group row">
																	<div class="col-md-4">
																		<label for="Degree" class="col-form-label">Degree<span>*</span></label>
																	</div>
																	<div class="col-md-8">
																		<input type="text" class="form-control" name="degree" placeholder="" value="{{edu.degree}}">
																	</div>						
																</div>
																<div class="form-group row">
																	<div class="col-md-4">
																		<label for="education_board" class="col-form-label">Education Board<span>*</span></label>
																	</div>
																	<div class="col-md-8">
																		<input type="text" class="form-control" name="board" placeholder="" value="{{edu.board}}">
																	</div>									
																</div>
																<div class="form-group row">
																	<div class="col-md-4">
																		<label for="name_of_institute" class="col-form-label">Institute Name<span>*</span></label>
																	</div>
																	<div class="col-md-8">
																		<input type="text" class="form-control" name="institution" placeholder="" value="{{ edu.institution}}">
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-md-4">
																		<label for="marks_secured" class="col-form-label">Marks Secured In<span>*</span></label>
																	</div>
																	
																	<div class="col-md-5">
																		<input type="text" class="form-control" name="marks" placeholder="" value="{{edu.marks}}">
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-md-4">
																		<label for="year" class="col-form-label">Graduation Year<span>*</span></label>
																	</div>
																	<div class="col-md-5">
																		<input type="text" class="form-control" name="graduation" placeholder="" maxlength="10" value="{{edu.graduation}}">
																	</div>
																</div> -->
															<div class="form-group">
																<label for="school" class="col-form-label">School<span>*</span></label>
																<input type="text" class="form-control form-control-sm" name="school_name" placeholder="" required value="{{edu.institution}}">
															</div>
															<div class="form-row">
															    <div class="form-group col-md-6">
															      <label for="degree">Degree<span>*</span></label>
															      <select class="form-control form-control-sm" name="degree">
																		<option selected disabled>-----</option>
																		<option value="Ph. D">Ph. D.</option>
																		<option value="MD">MD</option>
																		<option value="JD">JD</option>
																		<option value="MBA">MBA</option>
																		<option value="master_degree">Master's Degree</option>
																		<option value="bachelor_degree">Bachelor's Degree</option>
																		<option value="associate_degree">Associate's Degree</option>
																		<option value="high_school_degree">High School's Degree</option>
																	</select>
															    </div>
															    <div class="form-group col-md-6">
															      <label for="study">Field of Study<span>*</span></label>
															      <select class="form-control form-control-sm" name="study">
																		<option selected disabled>-----</option>
																		<option value="computer_forensics">Computer Forensics</option>
																		<option value="computer_support_specialist">Computer Support Specialist</option>
																		<option value="computer_programming_specific_applications">Computer Programming, Specific Applications</option>
																		<option value="commercial_and_advertising_art">Commercial and Advertising Art</option>
																		<option value="computational_science">Computational Science</option>
																		<option value="computational_mathematics">Computational Mathematics</option>
																		<option value="community_psychology">Community Psychology</option>
																		<option value="computer_installation_and_repair_technology">Computer Installation and Repair Technology</option>
																		<option value="computer_hardware_engineering">Computer Hardware Engineering</option>
																		<option value="computer_systems_analysis">Computer Systems Analysis</option>
																	</select>
															    </div>
															</div>
															<div class="form-group ">
																<label for="location" class="col-form-label">Location</label>
																<input type="text" class="form-control form-control-sm" name="location" placeholder="" value="{{edu.location}}">
															</div>
															<div class="form-group">
															  <div class="custom-control custom-checkbox edu_checkedId">
																	<input type="checkbox" class="custom-control-input" id="edu_checkbox" name="currently_check">
																	<label class="custom-control-label" for="edu_checkbox">I Currently attend</label>
																</div>
																</div>
															<div class="form-row">
															    <div class="form-group col-md-6">
															      <label for="s_date">Start Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm edu_startdate" id="s_date" placeholder="July, 2015" required value="{{edu.start}}">
															    </div>
															    <div class="form-group col-md-6 hideEndDate">
															      <label for="e_date">End Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm edu_enddate" id="e_date" placeholder="June, 2016" required value="{{edu.end}}">
															    </div>
															</div>
															<div class="form-group">
															    <label for="desc">Description</label>
															    <textarea rows="2" class="form-control form-control-sm" id="desc"></textarea>
															  </div>															
														</div>
														<div class="modal-footer">
															<button class=" btn btn-success">Save</button>
															<button class="btn btn-outline-default" data-dismiss="modal">Cancel</button>
														</div>
														</form>
													</div>
												</div>
											</div>
											&nbsp;|
											<a href="/accounts/profile/education/delete/{{edu.id}}/" class="btn-delete"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete</a>
										</div>					
										<p><span class="ed-title">{{edu.degree}}</span>&nbsp;<span>{{edu.marks}}</span> </p>
										<p><span>{{ edu.institution}}</span>&nbsp;,<span>{{ edu.location}}</span></p>
										<p>{{edu.school}}</p>
										<hr class="profile-line">
									</div>	
									{% endfor %}
									{% endif %}
									<div class="row">
										<div class="col-md-3 btn-group">
											<button class="btn btn-outline-success custom-btn" data-toggle="modal" data-target="#addEducationCenter">Add</button>
											<!-- Modal -->
											<div class="modal fade" id="addEducationCenter" tabindex="-1" role="dialog" aria-labelledby="addEducationCenterTitle" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="addEducationCenterTitle">Education Info</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
															<form class="profile3" method="POST" action="">
														<div class="modal-body">
																{% csrf_token %}
															<div class="form-group">
																<label for="school" class="col-form-label">School<span>*</span></label>
																<input type="text" class="form-control form-control-sm" name="school_name" placeholder="School Name" required>
															</div>
															<div class="form-row">
															    <div class="form-group col-md-6">
															      <label for="degree">Degree<span>*</span></label>
															      <select class="form-control form-control-sm" name="degree">
																		<option selected disabled>-----</option>
																		<option value="Ph. D">Ph. D.</option>
																		<option value="MD">MD</option>
																		<option value="JD">JD</option>
																		<option value="MBA">MBA</option>
																		<option value="master_degree">Master's Degree</option>
																		<option value="bachelor_degree">Bachelor's Degree</option>
																		<option value="associate_degree">Associate's Degree</option>
																		<option value="high_school_degree">High School's Degree</option>
																	</select>
															    </div>
															    <div class="form-group col-md-6">
															      <label for="study">Field of Study<span>*</span></label>
															      <select class="form-control form-control-sm" name="study">
																		<option selected disabled>-----</option>
																		<option value="computer_forensics">Computer Forensics</option>
																		<option value="computer_support_specialist">Computer Support Specialist</option>
																		<option value="computer_programming_specific_applications">Computer Programming, Specific Applications</option>
																		<option value="commercial_and_advertising_art">Commercial and Advertising Art</option>
																		<option value="computational_science">Computational Science</option>
																		<option value="computational_mathematics">Computational Mathematics</option>
																		<option value="community_psychology">Community Psychology</option>
																		<option value="computer_installation_and_repair_technology">Computer Installation and Repair Technology</option>
																		<option value="computer_hardware_engineering">Computer Hardware Engineering</option>
																		<option value="computer_systems_analysis">Computer Systems Analysis</option>
																	</select>
															    </div>
															</div>
															<div class="form-group ">
																<label for="location" class="col-form-label">Location</label>
																<input type="text" class="form-control form-control-sm" name="location" placeholder="Where You study">
															</div>
															<div class="form-group">
															  <div class="custom-control custom-checkbox edu_checkedId">
																	<input type="checkbox" class="custom-control-input" id="currently_check" name="currently_check">
																	<label class="custom-control-label" for="currently_check">I Currently attend</label>
																</div>
																</div>
															<div class="form-row">
															    <div class="form-group col-md-6">
															      <label for="s_date">Start Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm edu_startdate" id="s_date" placeholder="July, 2015" required>
															    </div>
															    <div class="form-group col-md-6 hideEndDate">
															      <label for="e_date">End Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm edu_enddate" id="e_date" placeholder="June, 2016" required>
															    </div>
															</div>
															<div class="form-group">
															    <label for="desc">Description</label>
															    <textarea rows="2" class="form-control form-control-sm" id="desc"></textarea>
															  </div>
														</div>
														<div class="modal-footer">
															<button class=" btn btn-success">Save</button>
															<button class="btn btn-outline-default" data-dismiss="modal">Cancel</button>
														</div>
															</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="pop4" role="tabpanel" aria-labelledby="pop4-tab">
								<div class="skill-info">
									{% if profile.skills %}
									{% for skill in profile.skills.all %}
									<div class="detail">
										<div class="pull-right">
											
											<a href="/accounts/profile/skills/delete/{{skill.id}}/" class="btn-delete"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete</a>
										</div>
										<p>{{ skill }}</p>
									</div>										
									<hr class="profile-line">
									{% endfor %}
									{% endif %}
									<div class="row">
										<div class="col-md-3 btn-group">
											<button class="btn btn-outline-success custom-btn" data-toggle="modal" data-target="#addSkillCenter">Add</button>
											<!-- Modal -->
											<div class="modal fade" id="addSkillCenter" tabindex="-1" role="dialog" aria-labelledby="addSkillCenterTitle" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="addSkillCenterTitle">Skills Info</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
															<form class="profile4" method="POST" action="">
														<div class="modal-body">
															{% csrf_token %}
															<div class="form-group row">
																<div class="col-md-4">
																	<label for="skill" class="col-form-label">Select Your Skills<span>*</span></label>
																</div>
																<div class="col-md-8">
																	<select class="custom-select select2" multiple="multiple" data-placeholder="Select skills"
																	style="width: 100%;" name="skills">
																		{% for skill in skills%}
																		<option value="{{skill.id}}">{{ skill.skill }}</option>
																		{% endfor %}
																	</select>
																</div>									
															</div>
														</div>
														<div class="modal-footer">
															<button class=" btn btn-success">Save</button>
															<button class="btn btn-outline-default" data-dismiss="modal">Cancel</button>
														</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							<div class="tab-pane fade" id="pop5" role="tabpanel" aria-labelledby="pop5-tab">
								<div class="training-info">
									{% if profile.trainings %}
									{% for training in profile.trainings.all %}
									<div class="detail">
										<div class="pull-right">
											<a href="#" class="btn-edit" data-toggle="modal" data-target="#editTrainingCenter"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit</a>
											<!-- Modal -->
											<div class="modal fade" id="editTrainingCenter" tabindex="-1" role="dialog" aria-labelledby="editTrainingCenterTitle" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="editTrainingCenterTitle">Edit Training Info</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
															<form class="profile5" method="POST" action=""> 
														<div class="modal-body">
																{% csrf_token %}
																<!-- <div class="form-group row">
																	<div class="col-md-4">
																		<label for="training_name" class="col-form-label">Training Name<span>*</span></label>
																	</div>
																	<div class="col-md-8">
																		<input type="text" class="form-control" name="name" value="{{ training.name }}">
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-md-4">
																		<label for="institution_name" class="col-form-label">Institution Name<span>*</span></label>
																	</div>
																	<div class="col-md-8">
																		<input type="text" class="form-control" name="institution" value="{{training.institution}}">
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-md-4">
																		<label for="duration" class="col-form-label">Start Date<span>*</span></label>
																	</div>
																	<div class="col-md-6">
																		<input type="text" class="datepicker form-control" name="start_date" value="{{training.start_date}}">
																	</div>
																</div>
																<div class="form-group row">
																	<div class="col-md-4">
																		<label for="completion" class="col-form-label">End Date<span>*</span></label>
																	</div>
																	<div class="col-md-6">
																		<input type="bootstrap-datepicker3" class="datepicker form-control" name="end_date" value="{{training.end_date}}">
																	</div>	
																</div> -->
															<div class="form-group">	
																<label for="training_name" class="col-form-label">Training Name<span>*</span></label>
																<input type="text" class="form-control form-control-sm" name="name" placeholder="" value="{{ training.name }}">
															</div>
															<div class="form-group">
																<label for="institution_name" class="col-form-label">Institution Name<span>*</span></label>
																<input type="text" class="form-control form-control-sm" name="institution" placeholder="" value="{{training.institution}}">
															</div>
															<div class="form-row">
															    <div class="form-group col-md-6">
															      <label for="s_date">Start Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm t_startdate" id="s_date" placeholder="" required value="{{training.start_date}}">
															    </div>
															    <div class="form-group col-md-6" id="hideEndDate">
															      <label for="e_date">End Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm t_enddate" id="e_date" placeholder="" required  value="{{training.end_date}}">
															    </div>
															</div>
														</div>
														<div class="modal-footer">
															<button class=" btn btn-success">Save</button>
															<button class="btn btn-outline-default" data-dismiss="modal">Cancel</button>
														</div>
															</form>
													</div>
												</div>
											</div>
											&nbsp;|
											<a href="/accounts/profile/training/delete/{{training.id}}/" class="btn-delete"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete</a>
										</div>
										<p><span class="ed-title">{{ training.name }}</span></p>
										<p>{{training.institution}}</p>
										<p>{{training.start_date}} - {{training.end_date}}</p>
										<hr class="profile-line">
									</div>
									{% endfor %}							
									{% endif %}									
									<div class="row">
										<div class="col-md-3 btn-group">
											<button class="btn btn-outline-success custom-btn" data-toggle="modal" data-target="#addTrainingCenter">Add</button>
											<!-- Modal -->
											<div class="modal fade" id="addTrainingCenter" tabindex="-1" role="dialog" aria-labelledby="addTrainingCenterTitle" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="addTrainingCenterTitle">Training Info</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
															</button>
														</div>
															<form class="profile5" method="POST" action=""> 
														<div class="modal-body">
															{% csrf_token %}
															<div class="form-group">	
																<label for="training_name" class="col-form-label">Training Name<span>*</span></label>
																<input type="text" class="form-control form-control-sm" name="name" placeholder="Training Name">
															</div>
															<div class="form-group">
																<label for="institution_name" class="col-form-label">Institution Name<span>*</span></label>
																<input type="text" class="form-control form-control-sm" name="institution" placeholder="Institution you Study">
															</div>
															<div class="form-row">
															    <div class="form-group col-md-6">
															      <label for="s_date">Start Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm t_startdate" id="s_date" placeholder="01-Nov , 2018" required>
															    </div>
															    <div class="form-group col-md-6" id="hideEndDate">
															      <label for="e_date">End Date<span>*</span></label>
															      <input type="text" class="form-control form-control-sm t_enddate" id="e_date" placeholder="31-Nov , 2018" required>
															    </div>
															</div>
														</div>
														<div class="modal-footer">
															<button class=" btn btn-success">Save</button>
															<button class="btn btn-outline-default" data-dismiss="modal">Cancel</button>
														</div>
															</form>
													</div>
												</div>
											</div>
										</div>
									</div>									
								</div>
							</div>
						</div>	
					</div>
					<div class="tab-pane fade" id="v-pills-jobs-applied" role="tabpanel" aria-labelledby="v-pills-jobs-applied-tab">
						{% include 'accounts/jobapplied.html' %}

					</div>
					<div class="tab-pane fade" id="v-pills-resetp" role="tabpanel" aria-labelledby="v-pills-resetp-tab">Reset Password</div>
					<div class="tab-pane fade" id="v-pills-cemail" role="tabpanel" aria-labelledby="v-pills-cemail-tab">Change Email</div>
					<div class="tab-pane fade" id="v-pills-sociala" role="tabpanel" aria-labelledby="v-pills-sociala-tab">Socail Account</div>
					<div class="tab-pane fade" id="v-pills-dacc" role="tabpanel" aria-labelledby="v-pills-dacc-tab">Deativate Accounut</div>
				
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block extrascripts %}


<script type="text/javascript" src="https://s3.amazonaws.com/thurgoimages/hire/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{% static 'js/select2.full.min.js' %}"></script>

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()
    $('.datepicker_dob').datepicker({
	    format: 'M dd , yyyy',
	    autoclose: true     
	});
	$('.s_date').datepicker({
   	 	format: 'M , yyyy',  
   	 	 autoclose: true       
	});
	$('.e_date').datepicker({
    	format: 'M , yyyy',  
    	 autoclose: true       
	});
	$('.edu_startdate').datepicker({
    	format: 'M , yyyy',    
    	 autoclose: true     
	});
	$('.edu_enddate').datepicker({
    format: 'M , yyyy',  
     autoclose: true       
	});
	$('.t_startdate').datepicker({
    format: 'd-M , yyyy',    
    autoclose: true   
	});
	 autoclose: true     
	$('.t_enddate').datepicker({
    format: 'd-M , yyyy', 
     autoclose: true        
	});
 });
</script>

<script type="text/javascript">
	$(document).ready(function() {
      	$('.checkedId').change(function() {
	        $('.viewEndDate').toggle();
	    });
	    $('.edu_checkedId').change(function() {
        	$('.hideEndDate').toggle();
    	});
    
	});
</script>
<script>
$(document).ready(function(){
    var $myForm = $('.profile1')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $thisURL = '/accounts/profile/basic/'  // or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR){
    	location.reload(true);
    	window.onload = $("#pop1-tab").click()
    }

    function handleFormError(jqXHR, textStatus, errorThrown){

    }
})


$(document).ready(function(){
    var $myForm = $('.profile2')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $thisURL = '/accounts/profile/experience/' // or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR){
    	location.reload(true);
    	window.onload = $("#pop2-tab").click()
    	
    }

    function handleFormError(jqXHR, textStatus, errorThrown){

    }
})


$(document).ready(function(){
    var $myForm = $('.profile3')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize() 
        var $thisURL = '/accounts/profile/education/'  // or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR, event){

    	location.reload(true);
    	window.onload = $("#pop3-tab").click()
    	
    	
    }

    function handleFormError(jqXHR, textStatus, errorThrown){

    }
})

$(document).ready(function(){
    var $myForm = $('.profile4')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $thisURL = '/accounts/profile/skills/'   // or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR){
    	location.reload(true);
    	window.onload = $("#pop4-tab").click()
    	
    	
    }

    function handleFormError(jqXHR, textStatus, errorThrown){

    }
})
$(document).ready(function(){
    var $myForm = $('.profile5')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $thisURL = '/accounts/profile/training/'// or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR){
    	location.reload(true);
    	
    	window.onload = $("#pop5-tab").click()
    }

    function handleFormError(jqXHR, textStatus, errorThrown){

    }
})
</script>
{% endblock %}

   
