{% extends 'layout.html' %}
{% load auth_extras %}

{% load static %}
{% block extrastyles %}

<link rel="stylesheet" type="text/css" href="/static/css/profilebuilder.css">
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/thurgoimages/hire/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/select2.min.css">

{% endblock %}

{% block content %}

<section id="tab-function">
	<div class="container">
		<div class="row">
			<div class="col-md-12 tab-body">
				<div class="progress">
					<div class="progress-bar bg-success" id="progress-bar" role="progressbar"></div>
				</div>
				<nav class="nav-justified text-center">
					<div class="nav nav-tabs " id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1" aria-selected="true"><i class="fa fa-address-card-o" aria-hidden="true"></i> Personal Info</a>
						<a class="nav-item nav-link"  id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2" aria-selected="false" aria-hidden="true"> <i class="fa fa-building-o"></i> Work Experience</a>
						<a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</a>
						<a class="nav-item nav-link" id="pop4-tab" data-toggle="tab" href="#pop4" role="tab" aria-controls="pop4" aria-selected="false"><i class="fa fa-trophy" aria-hidden="true"></i> Skills</a>
						<a class="nav-item nav-link" id="pop5-tab" data-toggle="tab" href="#pop5" role="tab" aria-controls="pop5" aria-selected="false"><i class="fa fa-university" aria-hidden="true"></i> Trainings</a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
						<div class="col-lg-8 personal-info">
							<h4 class="text-center title"><span class="underline">Basic Detail</span></h4>
							<form class="profile1" method="POST" action="">
								{% csrf_token %}
								<div class="form-row">
								    <div class="form-group col-md-4">
								      <label for="fname">First Name <span>*</span></label>
								      <input type="text" name="first_name" class="form-control form-control-sm" id="fname" placeholder="First Name" required autocomplete="off">
								    </div>
								    <div class="form-group col-md-4">
								      <label for="mname">Middle Name</label>
								      <input type="text" name="middle_name" class="form-control form-control-sm" id="mname" placeholder="Middle Name" autocomplete="off">
								    </div>
								    <div class="form-group col-md-4">
								      <label for="lname">Last Name <span>*</span></label>
								      <input type="text" name="last_name" class="form-control form-control-sm" id="lname" placeholder="Last Name" required autocomplete="off">
								    </div>
								  </div>
								  <div class="form-row">
								    <div class="form-group col-md-6">
								      <label for="gender">Gender</label>
								      <select id="gender" name=" gender" class="form-control form-control-sm">
								        <option selected disabled>Choose...</option>
								        <option value="1">Male</option>
								        <option value="2">Female</option>
								        <option value="3">Others</option>
								      </select>
								    </div>
								    <div class="form-group col-md-6">
								      <label for="dob">Date of Birth<span>*</span></label>
								      <input type="text" name="dob" class="form-control form-control-sm datepicker_dob" id="dob" placeholder="mm/dd/yyyy" required autocomplete="off">
								    </div>
								  </div>
								  <div class="form-group">
								    <label for="mailaddress">Mailing Address<span>*</span></label>
								    <input type="text" name="mailing_address" class="form-control form-control-sm" id="mailaddress" placeholder="Kathmandu" required autocomplete="off">
								  </div>
								  <div class="form-row">
								    <div class="form-group col-md-6">
								      <label for="inputCity">City<span>*</span></label>
								      <input type="text" name="city" class="form-control form-control-sm" id="inputCity" required autocomplete="off">
								    </div>
								    <div class="form-group col-md-4">
								      <label for="inputState">State<span>*</span></label>
								      <input type="text" name="state" class="form-control form-control-sm" id="inputState" required autocomplete="off">
								    </div>
								    <div class="form-group col-md-2">
								      <label for="inputZip">Zip<span>*</span></label>
								      <input type="text" name="zip_code" class="form-control form-control-sm" id="inputZip" required autocomplete="off">
								    </div>
								  </div>
								  <b>Contact</b>
								  <div class="form-row">
							
								    <div class="form-group col-md-6">
								      <label for="home">Home <span>*</span></label>
								      <input type="text" name="contact" class="form-control form-control-sm" id="home"  required autocomplete="off">
								    </div>
								  </div>								
								<div class="row">
									<div class="col-md-3 btn-group">
										<button class="btn btn-success ml-auto" type="submit">Save</button>
									</div>
								</div>
							</form>
						</div>						
					</div>
					<div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
						<div class="col-lg-8 work-info">
							<h4 class="text-center title"><span class="underline">work experience</span></h4>		
							<form class="profile2" method="POST" action="">
								{% csrf_token %}
								<div id="repeat-field">
									<div class="r-group">
										<div class="form-group ">
										    <label for="job_title_0_0">Job Title <span>*</span></label>
										    <input type="text" class="form-control form-control-sm" name="job[0][title]" id="job_0_title" data-pattern-name="job[++][title]" data-pattern-id="job_++_title" placeholder="Django Developer" required>
										</div> 
										<div class="form-group ">
										    <label for="company_name_0_0">Company Name<span>*</span></label>
										    <input type="text" class="form-control form-control-sm" placeholder="Info developers Pvt. Ltd." required name="company[0][name]" id="company_0_name" data-pattern-name="company[++][name]" data-pattern-id="company_++_name">
										</div>
										<div class="form-group ">
										    <label for="location_0_0">Location</label>
										    <input type="text" class="form-control form-control-sm" placeholder="location" name="location[0][name]" id="location_0_name" data-pattern-name="location[++][name]" data-pattern-id="location_++_name">
										</div>
										<div class="form-group">
										  <div class="custom-control custom-checkbox checkedId">
												<input type="checkbox" class="custom-control-input" id="custom_0_check" name="custom[0][check]" data-pattern-name="custom[++][check]" data-pattern-id="custom_++_check">
												<label class="custom-control-label" for="custom_0_check">Currently Working Here?</label>
											</div>
										</div>
										<div class="form-row">
										    <div class="form-group col-md-6">
										      <label for="s_date_0_0">Start Date<span>*</span></label>
										      <input type="text" class="form-control form-control-sm s_date" id="s_date" placeholder="July, 2015" required name="s[0][date]" data-pattern-name="s[++][date]" data-pattern-id="s_++_date">
										    </div>
										    <div class="form-group col-md-6 viewEndDate">
										      <label for="e_date_0_0">End Date<span>*</span></label>
										      <input type="text" class="form-control form-control-sm e_date" id="e_date" placeholder="June, 2016" required name="e[0][date]" data-pattern-name="e[++][date]" data-pattern-id="e_++_date">
										    </div>
										</div>
										<div class="form-group">
										    <label for="desc_0_0">Description &amp; Responsibilities</label>
										    <textarea rows="2" class="form-control form-control-sm" id="desc_0_name" name="desc[0][name]" data-pattern-name="desc[++][name]" data-pattern-id="desc_++_name"></textarea>
										</div>
										<div class="form-group">
										      <label for="env_0_0">Environment</label>
										      <input type="text" class="form-control form-control-sm" id="env_0_name" name="env[0][name]" data-pattern-name="env[++][name]" data-pattern-id="env_++_name">
										      <small id="envHelp" class="form-text text-muted">Skills that were learned on that work</small>
										</div>								   
									   	<button type="button" class="r-btnRemove btn btn-danger">Remove -</button>
									   	<hr style="border-color: #ddd;margin-bottom: 5px;">
									</div>						 								
									 <button type="button" class="r-btnAdd btn btn-primary" style="position: absolute;bottom: 10px;">Add</button>
								 </div>	
								 								 
								<div class="row">
									<div class="col-md-3 btn-group">
										<button class="btn btn-success ml-auto" type="submit">Save</button>
										<button class="btn btn-outline-default">Skip</button>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
						<div class="col-lg-8 education-info">
							<h4 class="text-center title"><span class="underline">Education</span></h4>
							<form class="profile3" method="POST" action="/abc/">
								{% csrf_token %}
								<div class="form-group">
									<label for="school" class="col-form-label">School<span>*</span></label>
									<input type="text" class="form-control form-control-sm" name="school_name" placeholder="School Name" required>
								</div>
								<div class="form-row">
								    <div class="form-group col-md-6">
								      <label for="degree">Degree<span>*</span></label>
								      <select class="form-control form-control-sm" name="degree">
											<option selected disabled>-----</option>
											<option value="Ph. D">Ph. D.</option>
											<option value="MD">MD</option>
											<option value="JD">JD</option>
											<option value="MBA">MBA</option>
											<option value="master_degree">Master's Degree</option>
											<option value="bachelor_degree">Bachelor's Degree</option>
											<option value="associate_degree">Associate's Degree</option>
											<option value="high_school_degree">High School's Degree</option>
										</select>
								    </div>
								    <div class="form-group col-md-6">
								      <label for="study">Field of Study<span>*</span></label>
								      <select class="form-control form-control-sm" name="study">
											<option selected disabled>-----</option>
											<option value="computer_forensics">Computer Forensics</option>
											<option value="computer_support_specialist">Computer Support Specialist</option>
											<option value="computer_programming_specific_applications">Computer Programming, Specific Applications</option>
											<option value="commercial_and_advertising_art">Commercial and Advertising Art</option>
											<option value="computational_science">Computational Science</option>
											<option value="computational_mathematics">Computational Mathematics</option>
											<option value="community_psychology">Community Psychology</option>
											<option value="computer_installation_and_repair_technology">Computer Installation and Repair Technology</option>
											<option value="computer_hardware_engineering">Computer Hardware Engineering</option>
											<option value="computer_systems_analysis">Computer Systems Analysis</option>
										</select>
								    </div>
								</div>
								<div class="form-group ">
									<label for="location" class="col-form-label">Location</label>
									<input type="text" class="form-control form-control-sm" name="location" placeholder="Where You study">
								</div>
								<div class="form-group">
								  <div class="custom-control custom-checkbox" id="edu_checkedId">
										<input type="checkbox" class="custom-control-input" id="edu_checkbox" name="currently_check">
										<label class="custom-control-label" for="edu_checkbox">I Currently attend</label>
									</div>
									</div>
								<div class="form-row">
								    <div class="form-group col-md-6">
								      <label for="s_date">Start Date<span>*</span></label>
								      <input type="text" class="form-control form-control-sm edu_startdate" id="s_date" placeholder="July, 2015" required>
								    </div>
								    <div class="form-group col-md-6" id="hideEndDate">
								      <label for="e_date">End Date<span>*</span></label>
								      <input type="text" class="form-control form-control-sm edu_enddate" id="e_date" placeholder="June, 2016" required>
								    </div>
								</div>
								<div class="form-group">
								    <label for="desc">Description</label>
								    <textarea rows="2" class="form-control form-control-sm" id="desc"></textarea>
								  </div>
								<div class="row">
									<div class="col-md-3 btn-group">
										<button class="btn btn-success ml-auto" type="submit">Save</button>
										<button class="btn btn-outline-default">Skip</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane fade" id="pop4" role="tabpanel" aria-labelledby="pop4-tab">
						<div class="col-lg-8 skill-info">
							<h4 class="text-center title"><span class="underline">Skills</span></h4>
							<form class="profile4" method="POST" action="">
								{% csrf_token %}
								<div class="form-group row">
									<div class="col-md-3">
										<label for="skill" class="col-form-label">Select Your Skills<span>*</span></label>
									</div>
									<div class="col-md-9">
										<select class="custom-select select2" multiple="multiple" data-placeholder="Select skills"
										style="width: 100%;" name="skills">
											{% for skill in skills%}
											<option value="{{skill.id}}">{{ skill.skill }}</option>
											{% endfor %}
										</select>
									</div>									
								</div>
								<div class="row">
									<div class="col-md-3 btn-group">
										<button class="btn btn-success ml-auto" type="submit">Save</button>
										<button class="btn btn-outline-default">Skip</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane fade" id="pop5" role="tabpanel" aria-labelledby="pop5-tab">
						<div class="col-lg-8 training-info">
							<h4 class="text-center title"><span class="underline">Training</span></h4>
							<form class="profile5" method="POST" action=""> 
								{% csrf_token %}
								<div class="form-group">	
									<label for="training_name" class="col-form-label">Training Name<span>*</span></label>
									<input type="text" class="form-control form-control-sm" name="name" placeholder="Training Name">
								</div>
								<div class="form-group">
									<label for="institution_name" class="col-form-label">Institution Name<span>*</span></label>
									<input type="text" class="form-control form-control-sm" name="institution" placeholder="Institution you Study">
								</div>
								<div class="form-row">
								    <div class="form-group col-md-6">
								      <label for="s_date">Start Date<span>*</span></label>
								      <input type="text" class="form-control form-control-sm t_startdate" id="s_date" placeholder="01-Nov , 2018" required>
								    </div>
								    <div class="form-group col-md-6" id="hideEndDate">
								      <label for="e_date">End Date<span>*</span></label>
								      <input type="text" class="form-control form-control-sm t_enddate" id="e_date" placeholder="31-Nov , 2018" required>
								    </div>
								</div>
								<div class="row">
									<div class="col-md-3 btn-group">
										<button class="btn btn-success ml-auto" value="profile5" type="submit">Save</button>
										<button class="btn btn-outline-default" type="">Skip</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="https://s3.amazonaws.com/thurgoimages/hire/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{% static 'js/select2.full.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ac-form-field-repeater.js' %}"></script>
<script type="text/javascript">
	
</script>
<script type="text/javascript">
	$('.input-daterange').datepicker({
    autoclose: true
});	
</script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2();

    $('.datepicker_dob').datepicker({
	    format: 'M dd , yyyy',
	    autoclose: true     
	});
	$('.s_date').datepicker({
   	 	format: 'M , yyyy',  
   	 	 autoclose: true       
	});
	$('.e_date').datepicker({
    	format: 'M , yyyy',  
    	 autoclose: true       
	});
	$('.edu_startdate').datepicker({
    	format: 'M , yyyy',    
    	 autoclose: true     
	});
	$('.edu_enddate').datepicker({
    format: 'M , yyyy',  
     autoclose: true       
	});
	$('.t_startdate').datepicker({
    format: 'd-M , yyyy',    
    autoclose: true   
	});
	 autoclose: true     
	$('.t_enddate').datepicker({
    format: 'd-M , yyyy', 
     autoclose: true        
	});

    });
</script>
<script type="text/javascript">
	$("#progress-bar").css('width','20%');

	$('#pop1-tab').click(function(event){
		 event.preventDefault();
	   $("#progress-bar").css('width','20%');
	})

	$('#pop2-tab').click(function(event){
		 event.preventDefault();
	   $("#progress-bar").css('width','40%');
	})

	$('#pop3-tab').click(function(event){
		 event.preventDefault();
	   $("#progress-bar").css('width','60%');
	})
	$('#pop4-tab').click(function(event){
		 event.preventDefault();
	   $("#progress-bar").css('width','80%');
	})
	$('#pop5-tab').click(function(event){
		 event.preventDefault();
	   $("#progress-bar").css('width','100%');
	})
</script>
<script type="text/javascript">
	$(document).ready(function() {
	    $('.checkedId').change(function() {
	        $('.viewEndDate').toggle();
	    });

	    $('#edu_checkedId').change(function() {
        	$('#hideEndDate').toggle();
    	});
    
	});
</script>
<script>
$(document).ready(function(){
    var $myForm = $('.profile1')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $thisURL = '/accounts/profile/basic/'  // or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR){
    	$("#pop2-tab").click()
    }

    function handleFormError(jqXHR, textStatus, errorThrown){

    }
})


$(document).ready(function(){
    var $myForm = $('.profile2')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $thisURL = '/accounts/profile/experice/' // or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR){
    	$("#pop3-tab").click()
    }

    function handleFormError(jqXHR, textStatus, errorThrown){

    }
})


$(document).ready(function(){
    var $myForm = $('.profile3')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize() 
        var $thisURL = '/accounts/profile/education/'  // or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR){
    	$("#pop4-tab").click()
    	console.log()
    }

    function handleFormError(jqXHR, textStatus, errorThrown){

    }
})

$(document).ready(function(){
    var $myForm = $('.profile4')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $thisURL = '/accounts/profile/skills/'   // or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR){
    	$("#pop5-tab").click()
    }

    function handleFormError(jqXHR, textStatus, errorThrown){

    }
})
$(document).ready(function(){
    var $myForm = $('.profile5')
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $thisURL = '/accounts/profile/training/'// or set your own url
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR){
    	location.reload(true);
    }

    function handleFormError(jqXHR, textStatus, errorThrown){

    }
})
</script>
<script src="{% static 'js/jquery.form-repeater.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
  $('#repeat-field').repeater({
      btnAddClass: 'r-btnAdd',
      btnRemoveClass: 'r-btnRemove',
      groupClass: 'r-group',
      minItems: 1,
      maxItems: 0,
      startingIndex: 0,
      showMinItemsOnLoad: true,
      reindexOnDelete: true,
      repeatMode: 'append',
      animation: 'fade',
      animationSpeed: 400,
      animationEasing: 'swing',
      clearValues: true
  }, [
      {
          "job[0][title]":"test",
          "company[0][name]":"test",
         "location[0][name]":"test",
         "custom[0][check]":"test",
			"s[0][date]":"test",
			"e[0][date]":"test",
			"env[0][name]":"test",
			"desc[0][name]":"test"
          // "vehicle[0][type]":"test"
      }
  ]);
  </script>
{% endblock %}
   
