<div class="col-lg-12">
    <div class="company">
            <div class="container company-container">
       
        <!-- 10 days ago -->
        
        <!-- end -->
        <!-- Start Company detail -->
        <div class="row detail-company">
          
          <div class="col-md-8 company-detail">
            <div class = "row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    <img src="/static/image/ms-logo.png" alt="image" class="rounded-circle">
                </div>
                  <div class="col-lg-10 col-sm-10 col-md-10">
                    <div class = "company-title">
                      <h4>Microsoft &nbsp; <span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span> </h4>
                      <p>Software Development</p>
                      
                    </div>
                    </div>

                    <div class="col-md-12">
                      <p class = "company-details">lorem ipsum</p>
                    
                    </div>
                    
                    
            </div>
             
           <div class="row list">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <p>Jobs</p>
                <p class="number">102</p>
              </div>
              <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                <p>Reviews</p>
                <p class="number">1099</p>
              </div>
              <div class=" col-lg-3  col-md-3 col-sm-6 col-xs-6">
                <p>Salaries</p>
                <p class="number">1119</p>
              </div>
              <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                <p>Interviews</p>
                <p class="number">865</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 contact-detail">
              <p class="days ">10 Days Ago</p>
            <h4>Get in Touch</h4>
            <p><i class="fa fa-map-marker"></i> <span>location</span></p>
            <p><i class="fa fa-envelope"></i> <span>Email</span></p>
            <p><i class="fa fa-globe"></i> <span>website link</span></p>
            <p><i class="fa fa-phone"></i> <span>contact no.</span></p>
            <p><i class="fa fa-users"></i> <span>1000-1200</span></p>

            
       
          </div>
        </div>
        <!-- ENd company detail -->
        <hr>
        <!-- Start social link -->
        <div class="company-bottom">
          <div class="row">
            <div class="col-md-8">
              <ul class="social-link">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
            <!-- End social link -->
            <!-- Start Button -->
            <div class="col-md-4 button-custom">
              <button type="button" class="btn btn-success btn-search-job">Search Jobs</button>  
              <button type="button" class="btn btn-outline-secondary">Follow</button>  
            </div>
            <!-- End button -->
          </div>
        </div>
      </div>
    </div>
  </div>