  
  <div class="card card_hot_jobs">
            <div class="card-header">
                <i class="fa fa-user-md"></i> TOP JOBS
            </div>

            
            <div class=" row card-body">
              {% for job in jobs %}
              {% if forloop.counter|divisibleby:"2" %}
              <div class="col-lg-4 col-md-6 col-sm-12 box">
                {% else %}
                <div class="col-lg-4 col-md-6 col-sm-12 box1">
                  {% endif %}

                <div class="card-row hi no-gutter">
                  <div class="media">
                    <div class="imagees">
                      <img src="/static/image/comlogo.png">
                    </div>

                    <div class="text">
                      <h6>{{ job.0.company.user.username }}</h6>
                      <ul>
                        <li>
                          <a href="/job/{{job.0.slug}}/">{{ job.0 }}</a>
                        </li>
                        <li>
                          <a href="/job/{{job.1.slug}}">{{ job.1 }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            

            <div class="card-header text-right">
              <a href="#">
                <i class="fa fa-plus " style="font-size:10px"></i> see more</a>
            </div>
  </div>