<div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		
		<div class="modal-content">
			<div class="modal-header">
					<h3>Login Form</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-signin"  method="POST" action=" ">
					{% csrf_token %}
					
					<label for="inputEmail">Email address</label>
					<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
					<br>
					<button type="submit" class="btn btn-block btn-success">SIGN IN</button>
					
				</form>
			</div>
			
		</div>
	</div>
</div>
