{% if parsedvalue %}

<div class="modal fade" id="modaltoload" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
 <div class="container ">

  <h4>It looks like you applied for:{{ parsedvalue.applied_for }} </h4>

<p>Profile:<br>{{ parsedvalue.personal_info }}  </p>
<p>education:<br>{{ parsedvalue.education }}</p>
<p>experience:<br>{{ parsedvalue.experience }}</p>
<p>skills:<br>{{ parsedvalue.skills }}</p>


        <div class="modal-footer">
                       <a href="/filtered/job/">Looks Good</a>
                       <a href="/detail/edit/">Edit Contents</a>
                    </div>

  </div>
  </div>      
  </div>
 </div> 

{% endif %}

