                <div class="modal fade" id="buttonforbutton" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <form role="form" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-file"></span> Upload CV</label>
                  <input required type="file" class="form-control" id="usrname" placeholder="Upload CV" name="temp_resume" required>
                </div>
               <button type="submit" class="btn btn-success btn-block applying">Upload</button>
              </form>
                
                
            </div>
          </div> 
        </div>

 